@CHARSET "UTF-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/bj_1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #220000;
	font-family: "宋体";
	font-size: 12px;
}

#kuangjia_beijin_1 {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/neiye_bj_1.jpg);
	background-position: center;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #AB9391;
	font-family: "宋体";
	font-size: 12px;
}

/*ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}*/

.tt_logo {
	background-image: url(../images/LOGO.gif);
	height: 44px;
	width: 216px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-position: bottom;
	float: left;
}

.tt_bj {
	background-image: url(../images/tt_bj_1.jpg);
	height: 144px;
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 10;
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	filter: alpha(opacity = 95);
	-moz-opacity: 0.9;
	opacity: 0.9;
}

.tt_bj_1 {
	height: 144px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}

.tt_bj_2 {
	height: 97px;
}

.tt_denglu_1 {
	width: 600px;
	float: left;
	height: 70px;
	padding-top: 20px;
	padding-left: 130px;
}

#denglu1,#denglu2,#denglu3 {
	background-image: url(../images/denglu_1.jpg);
	height: 18px;
	border: 1px solid #160603;
	width: 122px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	color: #a27f64;
	margin-right: 3px;
	font-size: 12px;
}

#denglu2,#denglu3 {
	width: 55px;
}

.tt_denglu_5 {
	width: 135px;
	float: left;
}

.tt_denglu_6,.tt_denglu_7 {
	width: 68px;
	float: left;
}

.tt_denglu_3 {
	float: left;
	height: 26px;
	padding-top: 2px;
}

.tt_denglu_4 {
	float: left;
	height: 22px;
	margin-top: 2px;
	width: 320px;
}

.tt_denglu_an {
	float: left;
	margin-right: 5px;
}

.tt_denglu_xw {
	clear: both;
	background-image: url(../images/zxxx_1.gif);
	height: 32px;
	background-repeat: no-repeat;
	background-position: left;
	padding-top: 15px;
	padding-left: 80px;
	color: #9a826d;
	font-size: 12px;
}

.tt_denglu_xw a:link {
	color: #9a826d;
	text-decoration: none;
}

.tt_denglu_xw a:visited {
	text-decoration: none;
	color: #9a826d;
}

.tt_denglu_xw a:hover {
	text-decoration: underline;
	color: #B09D8C;
}

.tt_denglu_xw a:active {
	text-decoration: none;
	color: #9a826d;
}

/*.tt_2 {
	height: 617px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}*/

/*#db_kj_1 {
	background-image: url(../images/db_bj_1.jpg);
	height: 298px;
	width: 100%;
	margin-top: 70px;
}*/

.db_kj_2 {
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	height: 285px;
	padding-top: 13px;
}

/*.db_kj_3 {
	height: 285px;
	width: 282px;
	padding-right: 30px;
	float: left;
}*/

/*.db_kj_4 {
	width: 282px;
	height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #62413c;
}*/

/*.db_kj_5 {
	color: #846462;
	display: block;
	margin-top: 15px;
	line-height: 17px;
	font-size: 12px;
}

.db_kj_5 span {
	color: #c5b8b7;
	display: block;
	margin-bottom: 10px;
}

.db_kj_5 span a:link {
	color: #C5B8B7;
	text-decoration: none;
}

.db_kj_5 span a:visited {
	text-decoration: none;
	color: #C5B8B7;
}

.db_kj_5 span a:hover {
	color: #B09D8C;
}

.db_kj_5 span a:active {
	text-decoration: none;
	color: #C5B8B7;
}*/

/*.db_kj_6 {
	height: 285px;
	width: 282px;
	float: left;
}*/

.tt_bj_zw_2 {
	float: left;
	color: #9a826d;
	display: block;
	height: 20px;
	padding-top: 17px;
	width: 235px;
	text-align: center;
}

.tt_bj_zw_2 a:link {
	color: #9a826d;
	text-decoration: none;
}

.tt_bj_zw_2 a:visited {
	text-decoration: none;
	color: #9a826d;
}

.tt_bj_zw_2 a:hover {
	text-decoration: none;
	color: #C8BAAE;
}

.tt_bj_zw_2 a:active {
	text-decoration: none;
	color: #9a826d;
}

.neiye_jiangjia_1 {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	height: 1000px;
}

.vip_zhongjian_2 {
	background-image: url(../images/chanpi_bj_2.jpg);
	background-repeat: repeat-y;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;
	height: 430px;
	width: 940px;
}

.vip_zhongjian_3 {
	background-image: url(../images/chanpi_tp_1.jpg);
	height: 220px;
	width: 465px;
	float: left;
}

.vip_zhongjian_4 {
	height: 170px;
}

.vip_zhongjian_5 {
	height: 35px;
	padding-top: 10px;
	padding-left: 7px;
}

.vip_zhongjian_6 {
	display: block;
	float: left;
	width: 225px;
	font-size: 12px;
	color: #5e4018;
	line-height: 17px;
}

.vip_zhongjian_7 {
	margin-left: 8px;
	background-image: url(../images/chanpi_tp_2.jpg);
	height: 220px;
	width: 465px;
	float: left;
}

.vip_zhongjian_8 {
	background-image: url(../images/chanpi_tp_3.jpg);
	float: left;
	height: 198px;
	width: 229px;
	margin-top: 8px;
	margin-right: 8px;
}

.vip_zhongjian_9 {
	height: 25px;
	margin-bottom: 10px;
	padding-top: 125px;
	text-align: center;
	color: #b7a690;
	font-size: 12px;
}

.vip_zhongjian_10 {
	height: 29px;
	margin-left: 8px;
}

.vip_zhongjian_11 {
	background-image: url(../images/chanpi_tp_4.jpg);
	float: left;
	height: 198px;
	width: 229px;
	margin-top: 8px;
	margin-right: 8px;
}

.vip_zhongjian_12 {
	background-image: url(../images/chanpi_tp_5.jpg);
	height: 198px;
	width: 465px;
	float: left;
	margin-top: 8px;
}

.vip_zhongjian_1 {
	background-image: url(../images/chanpi_bj_1.jpg);
	height: 40px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 26px;
	padding-left: 20px;
}

.vip_zhongjian_13 {
	background-image: url(../images/chanpi_bj_4.jpg);
	height: 64px;
	width: 970px;
	margin-right: auto;
	margin-left: auto;
}

.zhongjian_kj_1 {
	padding-top: 160px;
}