@CHARSET "UTF-8";

/*body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/neiye_bj_1.jpg);
	background-repeat: no-repeat;
	background-position: center top;
	margin: 0;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-color: #AA9290;
	font-family: "宋体";
	font-size: 12px;
}*/

ul {
	margin: 0px;
	list-style-type: none;
	padding: 0px;
}

.tt_logo {
	background-image: url(../images/LOGO.gif);
	height: 44px;
	width: 216px;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-position: bottom;
	float: left;
}

/*.tt_bj {
	background-image: url(../images/tt_bj_1.jpg);
	height: 144px;
	width: 100%;
	position: fixed;
	left: 0;
	z-index: 10;
	background-repeat: repeat-x;
	background-position: top;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	filter: alpha(opacity = 95);
	-moz-opacity: 0.9;
	opacity: 0.9;
}*/

.tt_bj_1 {
	height: 144px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}

.tt_bj_2 {
	height: 97px;
}

.tt_bj_3 {
	height: 47px;
	background-image: url(../images/zxxx_2.gif);
	background-position: right;
	background-repeat: no-repeat;
}

.tt_denglu_1 {
	width: 600px;
	float: left;
	height: 70px;
	padding-top: 20px;
	padding-left: 130px;
}

#denglu1,#denglu2,#denglu3 {
	background-image: url(../images/denglu_1.jpg);
	height: 18px;
	border: 1px solid #160603;
	width: 122px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 2px;
	padding-left: 5px;
	color: #a27f64;
	margin-right: 3px;
	font-size: 12px;
}

#denglu2,#denglu3 {
	width: 55px;
}

.tt_denglu_5 {
	width: 135px;
	float: left;
}

.tt_denglu_6,.tt_denglu_7 {
	width: 68px;
	float: left;
}

.tt_denglu_3 {
	float: left;
	height: 26px;
	padding-top: 2px;
}

.tt_denglu_4 {
	float: left;
	height: 22px;
	margin-top: 2px;
	width: 320px;
}

.tt_denglu_an {
	float: left;
	margin-right: 5px;
}

.tt_denglu_xw {
	clear: both;
	background-image: url(../images/zxxx_1.gif);
	height: 32px;
	background-repeat: no-repeat;
	background-position: left;
	padding-top: 15px;
	padding-left: 80px;
	color: #9a826d;
	font-size: 12px;
}

.tt_denglu_xw a:link {
	color: #9a826d;
	text-decoration: none;
}

.tt_denglu_xw a:visited {
	text-decoration: none;
	color: #9a826d;
}

.tt_denglu_xw a:hover {
	text-decoration: underline;
	color: #B09D8C;
}

.tt_denglu_xw a:active {
	text-decoration: none;
	color: #9a826d;
}

.tt_2 {
	height: 617px;
	width: 940px;
	margin-right: auto;
	margin-left: auto;
}

#db_kj_1 {
	background-image: url(../images/db_bj_1.jpg);
	height: 298px;
	width: 100%;
	margin-top: 70px;
}

#db_kj_tiaoqian {
	background-image: url(../images/db_bj_1.jpg);
	height: 298px;
	width: 100%;
}

.db_kj_2 {
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	height: 285px;
	padding-top: 13px;
}

.db_kj_3 {
	height: 285px;
	width: 282px;
	padding-right: 30px;
	float: left;
}

.db_kj_4 {
	width: 282px;
	height: 35px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #62413c;
}

.db_kj_5 {
	color: #846462;
	display: block;
	margin-top: 15px;
	line-height: 17px;
	font-size: 12px;
}

.db_kj_5 span {
	color: #c5b8b7;
	display: block;
	margin-bottom: 10px;
}

.db_kj_5 span a:link {
	color: #C5B8B7;
	text-decoration: none;
}

.db_kj_5 span a:visited {
	text-decoration: none;
	color: #C5B8B7;
}

.db_kj_5 span a:hover {
	color: #B09D8C;
}

.db_kj_5 span a:active {
	text-decoration: none;
	color: #C5B8B7;
}

.db_kj_6 {
	height: 285px;
	width: 282px;
	float: left;
}

.tt_bj_zw {
	float: left;
	height: 48px;
	width: 711px;
}

.tt_bj_zw_2 {
	float: left;
	color: #9a826d;
	display: block;
	height: 20px;
	padding-top: 17px;
	width: 235px;
	text-align: center;
}

.tt_bj_zw_2 a:link {
	color: #9a826d;
	text-decoration: none;
}

.tt_bj_zw_2 a:visited {
	text-decoration: none;
	color: #9a826d;
}

.tt_bj_zw_2 a:hover {
	text-decoration: none;
	color: #C8BAAE;
}

.tt_bj_zw_2 a:active {
	text-decoration: none;
	color: #9a826d;
}

.neiye_jiangjia_1 {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 144px;
}

.neiye_jiangjia_2 {
	width: 198px;
	float: left;
	height: 520px;
	margin-right: 7px;
}

.neiye_jiangjia_taoqian {
	width: 198px;
	float: left;
	height: 520px;
}

.neiye_jiangjia_3 {
	height: 152px;
	width: 198px;
}

.neiye_youbian_1 {
	float: left;
	width: 743px;
	padding-top: 70px;
}

.neiye_jiangjia_4 {
	background-image: url(../images/ny_naniu_bj.jpg);
	height: 197px;
	width: 191px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 7px;
}

.neiye_jiangjia_5 {
	height: 46px;
	width: 182px;
	margin-bottom: 4px;
}

.neiye_jiangjia_6 {
	height: 112px;
	width: 197px;
	margin-top: 7px;
}

.neiye_youbian_2 {
	background-image: url(../images/ny_naniu_bj2.jpg);
	height: 38px;
	padding-left: 35px;
	padding-top: 12px;
	font-family: "宋体";
	font-size: 14px;
	color: #AD7D78;
	font-weight: bold;
}

.neiye_youbian_2 span {
	font-size: 12px;
	font-weight: normal;
	color: #CFB3B0;
	margin-left: 490px;
}

.neiye_youbian_2 a:link {
	color: #CFB3B0;
	text-decoration: none;
}

.neiye_youbian_2 a:visited {
	text-decoration: none;
	color: #CFB3B0;
}

.neiye_youbian_2 a:hover {
	text-decoration: none;
	color: #ECE8E3;
}

.neiye_youbian_2 a:active {
	text-decoration: none;
	color: #CFB3B0;
}

.neiye_youbian_1 a:link {
	color: #CFB3B0;
	text-decoration: none;
}

.neiye_youbian_1 a:visited {
	text-decoration: none;
	color: #CFB3B0;
}

.neiye_youbian_1 a:hover {
	text-decoration: none;
	color: #ECE8E3;
}

.neiye_youbian_1 a:active {
	text-decoration: none;
	color: #CFB3B0;
}

.neiye_youbian_3 {
	background-color: #CFB3B0;
	padding: 40px;
	font-family: "宋体";
	font-size: 14px;
	line-height: 25px;
	color: #551c13;
}

.neiye_youbian_3 span {
	display: block;
	font-weight: bold;
	margin-bottom: 15px;
	margin-top: 5px;
}

.neiye_youbian_4 {
	height: 170px;
	padding-top: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #AA9290;
}

.neiye_youbian_4kj {
	background-color: #C6A5A2;
	border: 1px solid #A6796F;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 10px;
	padding-bottom: 15px;
	padding-right: 10px;
}

.neiye_youbian_tijiao {
	background-color: #C6A5A2;
	border: 1px solid #A6796F;
	margin-top: 10px;
	margin-bottom: 10px;
}

.neiye_youbian_4kj span {
	font-weight: bold;
	color: #CC0000;
}

.neiye_youbian_4kj a:link {
	color: #CC0000;
	text-decoration: none;
}

.neiye_youbian_4kj a:visited {
	text-decoration: none;
	color: #CC0000;
}

.neiye_youbian_4kj a:hover {
	text-decoration: none;
	color: #FF0000;
}

.neiye_youbian_4kj a:active {
	text-decoration: none;
	color: #CC0000;
}

.neiye_youbian_5 {
	width: 200px;
	height: 130px;
	background-color: #75544D;
	margin-right: 20px;
	float: left;
	margin-top: 10px;
	border: 1px solid #551C13;
}

.neiye_youbian_6 {
	float: left;
}

.neiye_youbian_7 {
	height: 130px;
	width: 400px;
	font-size: 12px;
}

.neiye_youbian_7 span {
	font-size: 14px;
}

.neiye_youbian_7 a:link {
	color: #551C13;
	text-decoration: none;
}

.neiye_youbian_7 a:visited {
	text-decoration: none;
	color: #551C13;
}

.neiye_youbian_7 a:hover {
	text-decoration: none;
	color: #75544D;
}

.neiye_youbian_7 a:active {
	text-decoration: none;
	color: #551C13;
}

.neiye_youbian_anniu {
	background-color: #583122;
	height: 30px;
	width: 120px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #CFB3B0;
	margin-right: 20px;
	float: left;
	line-height: 30px;
}

.neiye_youbian_anniu a {
	display: block;
}

.neiye_youbian_anniu a:hover {
	text-decoration: none;
	color: #F9F4F4;
	background-color: #714F28;
}

.qingchu_1 {
	clear: both;
}

.weibu_xiantou_1 {
	background-color: #521B16;
	height: 2px;
}

.heuzo_denglu_1 {
	background-image: url(../images/hezuo_denglu_bj.jpg);
	height: 180px;
	width: 347px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
	padding-right: 80px;
	padding-left: 80px;
	padding-top: 66px;
}

#heuzo_denglu_2 {
	width: 70px;
	height: 19px;
	border: 1px solid #80594F;
	background-color: #E1D0CE;
}

#heuzo_denglu_3 {
	width: 180px;
	border: 1px solid #80594F;
	background-color: #E1D0CE;
	height: 21px;
}

#heuzo_denglu_tikuan {
	width: 120px;
	border: 1px solid #80594F;
	background-color: #E1D0CE;
	height: 21px;
}

#heuzo_denglu_tikuan2 {
	width: 120px;
	border: 1px solid #80594F;
	background-color: #E1D0CE;
	height: 25px;
}

#heuzo_denglu_4 {
	width: 185px;
	border: 1px solid #80594F;
	background-color: #E1D0CE;
	height: 25px;
}

.neiye_youbian_anniu_gn {
	background-color: #583122;
	height: 30px;
	width: 180px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	color: #CFB3B0;
	margin-right: 20px;
	float: left;
	line-height: 30px;
	border: 1px solid #796253;
}

.neiye_youbian_anniu_gn a {
	display: block;
}

.neiye_youbian_anniu_gn  a:hover {
	text-decoration: none;
	color: #F9F4F4;
	background-color: #714F28;
}

.neiye_youbian_tikuang {
	height: 40px;
	border: 1px solid #A6796F;
	background-color: #C6A5A2;
	padding-top: 10px;
}